//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    opacity: .65;
  }

  &:active,
  &.active {
    background-image: none;
  }
}


//
// Alternate buttons
//

@each $color, $value in $btn-colors {
  .btn-#{$color} {
    @include button-style($value, #fff, $value);
  }
}

@each $color, $value in $btn-colors {
  .btn-outline-#{$color} {
    @include button-outline-style($value, #fff);
  }
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, 18px, $btn-line-height, $btn-border-radius);
}
