$card-spacer: theme-spaces(4);

//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-bottom: $card-spacer;
  @include border-radius($border-radius);
}

.card-body {
  flex: 1 1 auto;
  padding: $card-spacer;
}

.card-footer {
  padding: $card-spacer;
  border-top: 1px solid $border-color;

  &:last-child {
    @include border-radius(0 0 $border-radius $border-radius);
  }

  &.card-footer-flush{
    border-top: 0;
    margin-top: -$card-spacer;
  }
}