$color-schemes: (
  luxury-1: (
    muted: #a1a398,
    dark: #222845,
    primary: #c49f66,
    light: #f2f2f2
  ),
  luxury-2: (
    muted: #777777,
    dark: #2f3945,
    primary: #ab976b,
    light: #f5f5f5
  ),
  luxury-3: (
    muted: #a1a09a,
    dark: #1e1e1e,
    primary: #957e5f,
    light: #e4e2d9
  ),
  fashion-1: (
    muted: #939393,
    dark: #2b2e34,
    primary: #f7b1ac,
    light: #fff1e9
  ),
  fashion-2: (
    muted: #939393,
    dark: #000000,
    primary: #e80088,
    light: #fff8ee
  ),
  palette-1: (
    muted: #b7b9b6,
    dark: #3c3c38,
    primary: #76b36d,
    light: #ebebeb
  ),
  pastel: (
    muted: #8c8c8c,
    dark: #333333,
    primary: #fd6b54,
    light: #fafaf7
  ),
  palette-7: (
    muted: #B9B9B9,
    dark: #000000,
    primary: #F7BF50,
    light: #FAF6ED
  ),
  palette-8: (
    muted: #BCBDAF,
    dark: #142A39,
    primary: #206C46,
    light: #ECEDE7
  ),
  palette-9: (
    muted: #B5B5B5,
    dark: #262626,
    primary: #78A8A8,
    light: #F5F6F8
  ),
  palette-10: (
    muted: #B9B9B9,
    dark: #333333,
    primary: #B2BD5D,
    light: #F0F0F0
  ),
  palette-11: (
    muted: #B9B9B9,
    dark: #333333,
    primary: #B0A48A,
    light: #F2EFEA
  ),
  palette-12: (
    muted: #B0A48A,
    dark: #1B1B1B,
    primary: #A54040,
    light: #F6E1B6
  ),
  palette-13: (
    muted: #B9B9B9,
    dark: #1B1B1B,
    primary: #5457A6,
    light: #F4F4F4
  ),
  palette-14: (
    muted: #B9B9B9,
    dark: #000000,
    primary: #47D0BE,
    light: #FFFEEC
  ),
  palette-15: (
    muted: #B9B9B9,
    dark: #000000,
    primary: #FAAC64,
    light: #E9FCFF
  ),
  palette-16: (
    muted: #C1C0CE,
    dark: #464553,
    primary: #EC5870,
    light: #E4EFF5
  ),
  palette-17: (
    muted: #B9B9B9,
    dark: #333333,
    primary: #6AC1B8,
    light: #F7FFFF
  ),
  palette-18: (
    muted: #BEB1BA,
    dark: #321227,
    primary: #A070A0,
    light: #FDF3F2
  ),
  palette-19: (
    muted: #BECDD4,
    dark: #0E2E3B,
    primary: #7DB8B2,
    light: #FBFCF7
  ),
  palette-20: (
    muted: #B9B9B9,
    dark: #333333,
    primary: #A28F6F,
    light: #F5F1E8
  ),
  palette-21: (
    muted: #BECDD4,
    dark: #1F2022,
    primary: #53616C,
    light: #F0F5F9
  ),
  palette-22: (
    muted: #BFBBBC,
    dark: #5E484A,
    primary: #CA6869,
    light: #DFF0EA
  ),
  palette-23: (
    muted: #B9B9B9,
    dark: #443752,
    primary: #2C5F7C,
    light: #FAFAFA
  ),
  palette-24: (
    muted: #C4C1CC,
    dark: #3A2769,
    primary: #9ADEE1,
    light: #E4F6F6
  ),
  palette-25: (
    muted: #C4C1CC,
    dark: #300532,
    primary: #AA3763,
    light: #FEF8DD
  ),
  palette-26: (
    muted: #969EAD,
    dark: #222831,
    primary: #7BC74D,
    light: #EEEEEE
  ),
  palette-27: (
    muted: #A88DA8,
    dark: #452B45,
    primary: #F64E8B,
    light: #F5F5F5
  ),
  palette-28: (
    muted: #9B979C,
    dark: #2B1F31,
    primary: #5FB9B0,
    light: #FFFDE9
  ),
  palette-29: (
    muted: #9B979C,
    dark: #2B1F31,
    primary: #13829B,
    light: #FCC29A
  ),
  palette-30: (
    muted: #B7B7B7,
    dark: #346473,
    primary: #9BDF46,
    light: #F9F9F9
  ),
  palette-31: (
    muted: #9B979C,
    dark: #432F44,
    primary: #FFD460,
    light: #F9F9F9
  ),
  palette-32: (
    muted: #B2B2B2,
    dark: #3E1E68,
    primary: #FFACAC,
    light: #F9F9F9
  ),
  palette-33: (
    muted: #B2B2B2,
    dark: #444036,
    primary: #50C19A,
    light: #EDF0E1
  ),
  palette-34: (
    muted: #B2B2B2,
    dark: #311D3F,
    primary: #E23E57,
    light: #F9F9F9
  )
);

