$color-schemes: (
  luxury-1: (
    muted: #a1a398,
    dark: #222845,
    primary: #c49f66,
    light: #f2f2f2
  ),
  luxury-2: (
    muted: #777777,
    dark: #2f3945,
    primary: #ab976b,
    light: #f5f5f5
  ),
  luxury-3: (
    muted: #a1a09a,
    dark: #1e1e1e,
    primary: #957e5f,
    light: #e4e2d9
  ),
  luxury-4: (
    muted: #6e6e6e,
    dark: #2F3D47,
    primary: #B3A992,
    secondary: #8B745B,
    light: #f2f2f2
  ),
  luxury-5: (
    muted: #cecece,
    dark: #030303,
    primary: #98883e,
    secondary: #E3E3E3,
    light: #f2f2f2
  ),
  fashion-1: (
    muted: #939393,
    dark: #000000,
    primary: #9c0159,
    secondary: #f7b1ac,
    light: #fff1e9
  ),
  fashion-2: (
    muted: #939393,
    dark: #000000,
    primary: #e80088,
    light: #fff8ee
  ),
  fashion-3: (
    muted: #77726b,
    dark: #38342e,
    primary: #00ae7c,
    secondary: #d05555,
    light: #f1f1e5
  ),
  pastel-1: (
    muted: #8c8c8c,
    dark: #333333,
    primary: #fd6b54,
    light: #fafaf7
  ),
  pastel-2: (
    muted: #898989,
    dark: #252525,
    primary: #ecb3bd,
    secondary: #bae9e6,
    light: #f7f6e6
  ),
  pastel-3: (
    muted: #9b9da1,
    dark: #000000,
    primary: #f16d81,
    secondary: #f8df6f,
    light: #f7f7f7
  )
);

