$color-schemes: (
  luxury-1: (
    muted: #A1A398,
    dark: #222845,
    primary: #C49F66,
    secondary: #867583,
    light: #f2f2f2
  ),
  luxury-2: (
    muted: #777777,
    dark: #2f3945,
    primary: #ab976b,
    secondary: #ab976b,
    light: #f5f5f5
  ),
  luxury-3: (
    muted: #a1a09a,
    dark: #1e1e1e,
    primary: #957e5f,
    secondary: #567a6a,
    light: #e4e2d9
  ),
  luxury-4: (
    muted: #6e6e6e,
    dark: #2F3D47,
    primary: #8B745B,
    secondary: #B3A992,
    light: #f2f2f2
  ),
  luxury-5: (
    muted: #cecece,
    dark: #030303,
    primary: #98883e,
    secondary: #E3E3E3,
    light: #f2f2f2
  ),
  fashion-1: (
    muted: #939393,
    dark: #2c2f35,
    primary: #9c0159,
    secondary: #f7b1ac,
    light: #fff9f7
  ),
  fashion-2: (
    muted: #939393,
    dark: #2b2c2d,
    primary: #e80088,
    secondary: #20B2BB,
    light: #f8f8f8
  ),
  fashion-3: (
    muted: #77726b,
    dark: #38342e,
    primary: #00ae7c,
    secondary: #d05555,
    light: #f1f1e5
  ),
  pastel-1: (
    muted: #8c8c8c,
    dark: #333333,
    primary: #fd6b54,
    secondary: #dbf3ed,
    light: #fafaf7
  ),
  pastel-2: (
    muted: #898989,
    dark: #252525,
    primary: #ecb3bd,
    secondary: #bae9e6,
    light: #f7f6e6
  ),
  pastel-3: (
    muted: #9b9da1,
    dark: #000000,
    primary: #f16d81,
    secondary: #f8df6f,
    light: #f7f7f7
  ),
  modern-1: (
    muted: #C5C1C0,
    dark: #0A1612,
    primary: #F7CE3E,
    secondary: #1A2930,
    light: #f5f5f5
  ),
  modern-2: (
    muted: #C5C1C0,
    dark: #0f1626,
    primary: #ff533d,
    secondary: #AB987A,
    light: #f5f5f5
  )
);

