@function color-schemes(
  $name: 'palette-1',
  $variant: 'primary'
) {
  $color: null;
  
  // Get the color spectrum
  $color-spectrum: map-get($color-schemes, $name);
  
  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }
  
  @return $color;
}


@function theme-spaces($key: 1) {
  @return map-get($spaces, $key);
}