// Page width
//
// Set the page width, and override it for fixed navbars in media queries.

.page-width {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: $space-md;
  padding-left:  $space-md;
  width: 100%;
  @include make-container-max-widths();
}


// Sections
//
// 

.hero-section,
.main-section{
  position: relative;
}

.hero-section{
  padding-top: $space-lg;
  padding-bottom: $space-lg;

  @include media-breakpoint-up(md){
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.main-section{
  padding-top: $space-lg;
  padding-bottom: $space-lg;
}


// Grid
//
// 

.grid{
  @include make-row();
}

.grid-item{
  @include make-col-ready();
}

.width-md-1-2{
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
}

.width-md-1-3{
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
}
