// Page width
//
// Set the page width, and override it for fixed navbars in media queries.

.page-width {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: theme-spaces(4);
  padding-left:  theme-spaces(4);
  width: 100%;
  @include make-container-max-widths();
}


// Sections
//
// 

.section{
  position: relative;
}


// Grid
//
// 

.grid{
  @include make-row();
}

.grid-item{
  @include make-col-ready();
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .width#{$infix}-1-2 { @include make-col(6); }
    .width#{$infix}-1-3 { @include make-col(4); }
    // .order#{$infix}-1  {order: 1;}
  }
}
