$navbar-height: 80px;

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: theme-spaces(1) theme-spaces(3);
  min-height: $navbar-height;
}

.navbar-brand{
  display: flex;
  padding-right: theme-spaces(3);

  @include hover-focus {
    text-decoration: none;
  }
}

.navbar-collapse {
  flex: 1;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm){
    display: none;

    &.show{
      display: flex !important;
      @include make-col(12);
      order: 1;
    }
  }

}

.navbar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @include media-breakpoint-up(sm){
    flex-direction: row;
  }

  li{
    padding: $nav-link-padding-y $nav-link-padding-x;
  }

  .nav-link {
    position: relative;
    display: block;

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    @include hover-focus {
      text-decoration: none;

      &:before{
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}

.navbar-text{
  padding: $nav-link-padding-y $nav-link-padding-x;
  margin: 0;
}


// 
// Navbar style
//

.navbar-light{
  color: theme-color('dark');

  .navbar-brand{
    color: theme-color('dark');
  }
  .navbar-nav{
    .nav-link{
      color: theme-color('dark');
      &:before{
        background-color: theme-color('dark');
      }
    }
  }
}

.navbar-dark{
  color: $white;
  
  .navbar-brand{
    color: $white;
  }
  .navbar-nav{
    .nav-link{
      color: $white;
      &:before{
        background-color: $white;
      }
    }
  }
}