$navbar-height: 80px;

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: theme-spaces(1) theme-spaces(3);
  min-height: $navbar-height;
}

.navbar-brand{
  display: flex;
  color: theme-color('dark');
  padding-right: theme-spaces(3);

  @include hover-focus {
    text-decoration: none;
  }
}

.navbar-collapse {
  flex: 1;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm){
    display: none;

    &.show{
      display: flex !important;
      @include make-col(12);
      order: 1;
    }
  }

}

.navbar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @include media-breakpoint-up(sm){
    flex-direction: row;
  }

  .nav-link {
    display: flex;
    color: theme-color('dark');
    padding: $nav-link-padding-y $nav-link-padding-x;

    @include hover-focus {
      text-decoration: none;
    }
  }
}

.navbar-text{
  padding: $nav-link-padding-y $nav-link-padding-x;
  margin: 0;
}