//
// Top Bar
//

$topbar-bg: theme-color('secondary');

.topbar{
  background-color: $topbar-bg;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: (theme-spaces(1)/2) theme-spaces(2);
}