//
// Headings
//

@each $size, $length in $fontSizes {
    h#{$size},.h#{$size}{
      font-size: $length * 1px;
      
    @if $size == 6 {
      line-height: inherit;
    } @else {
      line-height: $length + 8px;
    }
  }
}


// Type display classes

.text-headline{
  font-size: 14px;
  font-weight: $headings-font-weight;
  color: $headings-color;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-small{
  font-size: 14px !important;
}

.text-lead{
  font-size: 20px;
  line-height: 32px;
}