// Color system
//
//

$white:    #fff;
$black:    #000;

$color-palette: 'fashion-2';

$theme-colors: (
  success: #40be65,
  info: #1e87f0,
  warning: #edc054,
  danger: #fe4f20,
  light: color-schemes($color-palette, 'light'),
  dark: color-schemes($color-palette, 'dark'),
  primary: color-schemes($color-palette, 'primary'),
  muted: color-schemes($color-palette, 'muted')
);

$bg-colors: (
  light: theme-color('light'),
  dark: theme-color('dark'),
  primary: theme-color('primary')
);

$text-colors: (
  success: theme-color('success'),
  info: theme-color('info'),
  warning: theme-color('warning'),
  danger: theme-color('danger'),
  primary: theme-color('primary'),
  muted: theme-color('muted')
);

$btn-colors: (
  success: theme-color('success'),
  info: theme-color('info'),
  warning: theme-color('warning'),
  danger: theme-color('danger'),
  primary: theme-color('primary')
);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Spacing
//
// Mostly focused on spacing.
$space: 8px;

$spaces: (
  0: 0,
  1: $space,
  2: ($space * 2),
  3: ($space * 3),
  4: ($space * 4),
  5: ($space * 8),
  6: ($space * 16),
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 544px,
  md: 720px,
  lg: 960px,
  xl: 1144px
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: theme-spaces(4);


// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px;
$border-color: #e5e5e5;

$border-radius:          4px;
$border-radius-lg:       6px;
$border-radius-sm:       2px;


// Body
//
// Settings for the `<body>` element.

$body-bg:                   #fff;
$body-color:                theme-color('dark');

$fontSizes: (
  1: 64,
  2: 48,
  3: 32,
  4: 24,
  5: 16,
  6: 14,
);


// Links
//
// Style anchor elements.

$link-color:            theme-color("primary");
$link-hover-color:      darken($link-color, 15%);


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:       'Roboto', sans-serif;
$font-size-base:         16px;
$line-height-base:       24px;

$headings-font-family:   inherit;
$headings-font-weight:   700;
$headings-color:         theme-color('dark');


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-border-width:      1px;

$btn-padding-x:         theme-spaces(3);
$btn-padding-y:         ($btn-padding-x / 2) - $btn-border-width;
$btn-line-height:       $line-height-base;

$btn-border-radius:     $border-radius;

$btn-transition:        background-color .15s ease-in-out, border-color .15s ease-in-out;


// Navs

$nav-link-padding-x:            theme-spaces(3);
$nav-link-padding-y:            $nav-link-padding-x / 2;


