@import url('https://fonts.googleapis.com/css?family=Poppins:500,600|Roboto:400,500');

/* Document */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* IE10+ doesn't honor `<meta name="viewport">` in some cases. */
@at-root {
  @-ms-viewport { width: device-width; }
}


/* Body */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #1A1A1A;
  background-color: #fff;
  direction: ltr;
}


/* Horizontal rules */

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid $hr-border;
}

hr.dotted{border-top-style: dotted;}
hr.dashed{border-top-style: dashed;}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: inherit;
  margin-top: 0;
  margin-bottom: .5em;
}

h1{
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -4px;
}

h2{
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

h3{
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}


/* Links */

a {
  color: #2C99ED;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover{
  color: #0072CA;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus{
  text-decoration: none;
  outline: 0;
}


/* Abbreviations */

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* Figures */

figure {
  margin: 0;
}


/* Embedded content */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
canvas,
img,
video {
  max-width: 100%;
  height: auto;
}

img.img-circle{
  border-radius: 50%;
}

/* Hide the overflow in IE. */

svg:not(:root) {
  overflow: hidden;
}