@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #110f10;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #110f10;
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-top: 0;
  margin-bottom: 24px; }

a {
  color: #f8bf50;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #f2a30a;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
  min-height: 72px; }

.navbar-brand {
  display: flex;
  color: #110f10;
  padding: 0 16px; }
  .navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none; }

.navbar-collapse {
  flex: 1;
  display: flex;
  align-items: center; }
  @media (max-width: 767px) {
    .navbar-collapse {
      display: none; }
      .navbar-collapse.show {
        display: flex !important;
        flex: 0 0 100%;
        max-width: 100%;
        order: 1; } }

.navbar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (min-width: 576px) {
    .navbar-nav {
      flex-direction: row; } }
  .navbar-nav .nav-link {
    display: flex;
    color: #110f10;
    padding: 8px 16px; }
    .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
      text-decoration: none; }

.navbar-text {
  padding: 8px 16px;
  margin: 0; }

h1, .h1 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.9px; }

h2, .h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.9px; }

h3, .h3 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.9px; }

h4, .h4 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.9px; }

h5, .h5 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.9px; }

.hero-text {
  font-size: 64px;
  font-weight: 700;
  color: #110f10;
  line-height: 84px;
  letter-spacing: -0.9px; }

.headline-text {
  font-size: 14px;
  font-weight: 700;
  color: #110f10;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.headline-text-small {
  font-size: 12px;
  font-weight: 700;
  color: #110f10;
  letter-spacing: 1.3px;
  text-transform: uppercase; }

.text-small {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.2px; }

.text-lead {
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.9px; }

.page-width {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%; }
  @media (min-width: 576px) {
    .page-width {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .page-width {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .page-width {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .page-width {
      max-width: 1140px; } }

.hero-section,
.main-section {
  position: relative; }

.hero-section {
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (min-width: 768px) {
    .hero-section {
      padding-top: 96px;
      padding-bottom: 96px; } }

.main-section {
  padding-top: 48px;
  padding-bottom: 48px; }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px; }

.grid-item {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px; }

@media (min-width: 768px) {
  .width-md-1-3 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; } }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-bottom: 24px;
  border-radius: 4px; }

.card-body {
  flex: 1 1 auto;
  padding: 24px; }

.card-footer {
  padding: 24px;
  border-top: 1px solid #e5e5e5; }
  .card-footer:last-child {
    border-radius: 0 0 4px 4px; }
  .card-footer.card-footer-flush {
    border-top: 0;
    margin-top: -24px; }

.media {
  display: flex;
  align-items: center; }

.media-left {
  padding-right: 16px; }

.bg-primary {
  background-color: #f8bf50 !important; }

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #f6ad1f !important; }

.bg-success {
  background-color: #40be65 !important; }

a.bg-success:focus, a.bg-success:hover {
  background-color: #339851 !important; }

.bg-warning {
  background-color: #edc054 !important; }

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #e8af26 !important; }

.bg-danger {
  background-color: #fe4f20 !important; }

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #ea3201 !important; }

.bg-dark {
  background-color: #110f10 !important; }

a.bg-dark:focus, a.bg-dark:hover {
  background-color: black !important; }

.bg-light {
  background-color: #faf6ed !important; }

a.bg-light:focus, a.bg-light:hover {
  background-color: #efe2c5 !important; }

.bg-muted {
  background-color: #b8b8b8 !important; }

a.bg-muted:focus, a.bg-muted:hover {
  background-color: #9f9f9f !important; }

.bg-white {
  background-color: #fff !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.mb-0 {
  margin-bottom: 0px; }

.mb-xs {
  margin-bottom: 8px; }

.mb-sm {
  margin-bottom: 16px; }

.mb-md {
  margin-bottom: 24px; }

.mb-lg {
  margin-bottom: 48px; }

.mb-xl {
  margin-bottom: 96px; }

.avatar {
  border-radius: 100px; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-light {
  font-weight: 300 !important; }

.text-bold {
  font-weight: bold !important; }

.text-white {
  color: #fff !important; }

.text-primary {
  color: #f8bf50 !important; }

a.text-primary:focus, a.text-primary:hover {
  color: #f6ad1f !important; }

.text-success {
  color: #40be65 !important; }

a.text-success:focus, a.text-success:hover {
  color: #339851 !important; }

.text-warning {
  color: #edc054 !important; }

a.text-warning:focus, a.text-warning:hover {
  color: #e8af26 !important; }

.text-danger {
  color: #fe4f20 !important; }

a.text-danger:focus, a.text-danger:hover {
  color: #ea3201 !important; }

.text-dark {
  color: #110f10 !important; }

a.text-dark:focus, a.text-dark:hover {
  color: black !important; }

.text-light {
  color: #faf6ed !important; }

a.text-light:focus, a.text-light:hover {
  color: #efe2c5 !important; }

.text-muted {
  color: #b8b8b8 !important; }

a.text-muted:focus, a.text-muted:hover {
  color: #9f9f9f !important; }

.text-faded {
  opacity: 0.6 !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }
