.Button{
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 30px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-radius: 500px;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color
}

.Button:not(:disabled) {
  cursor: pointer
}

.Button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.Button:hover {
  text-decoration: none
}

.Button:focus {
  outline: none
}

.Button{
  background-color: transparent;
  color: #2C99ED;
  border: 1px solid #2C99ED;
}

.Button:hover,
.Button:focus{
  background-color: #2C99ED;
  color: #fff;
  // border-color: #0072CA;
}